.tagBar {
    display: flex;
    background-color: #8c91b6;
    text-align: center;
    margin: 5px auto 0px auto;
    padding: 4px ;
    align-items: center;
    width: auto;
    max-width: 150vh;
}
.tagBar button{
    margin-left: 3px;
    margin-right: 30px;
    background-color: lightslategray;
}
.main{
    text-align: center;
}

.tag{
    margin-left: 0.5rem;
    display: flex;
    background-color: lightslategray;
    height: 25px;
    border-radius: 8px;
}
.close{
    color: red;
    margin-left: 0.5rem;
}