.tagBar {
    display: flex;
    background-color: #1e2745;
    text-align: center;
    margin: 5px auto 0px auto;
    padding: 4px ;
    align-items: center;
    width: auto;
    max-width: 150vh;
    border-radius: 5px;
}
.tagBar input{
    width: 20vw;
    min-width: 90px;
    height: 30px;
    border: 1px solid #252e4b;
    background-color: #1e2745;
    border-radius: 5px;
}
.tagBar button{
    height: 25px;
    background-color: #50b5ff;
    margin-left: 3px;
    margin-right: 30px;
    width: 10vw;
    border: 2px solid #50b5ff;
    color: white;
    border-radius: 5px;
}

.main{
    width: 80vw;
    margin: 0px auto 0px auto;
    padding-top: 15px;
}
.centralItems{
    text-align: center;
}
.centralItems h1{
    color: #8c91b6;
}
.modalButton{
    padding: 8px;
}
.modalButton button{
    width: 30vw;
    height: auto;
    max-height: 60px;
    color: black;
    background-color: #28c2ff;
    border: #28c2ff solid 2px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    margin: 5px auto 10px auto
}
.tag{
    margin-left: 0.5rem;
    display: flex;
    background-color: lightslategray;
    height: 25px;
    border-radius: 8px;
}
.close{
    color: red;
    margin-left: 0.5rem;
}