.profilePage{
    padding-left: 10px;
}
.profilePage h2 {
    text-align: center;
    color: #50b5ff;
}
.formSummaryError {
    padding-left: 10px;
    color: brown;
    font-size: 20px;
}
.Event {
    margin: 15px auto 0px auto;
    padding: 2px 3vw;
    width: 70vw;
    border-radius: 0px;
    max-width: 70vw;
    color: #8c91b6;
    background-color: #1e2745;
    border-top: 1px #252e4b solid;
}
.text {
    width: 65vw;
    max-width: 50vw;
    padding-top: 3vh;
    padding-bottom: 2vh;
    white-space: break-spaces;
    overflow-wrap: break-word;
}
.mainPic img {
    max-width: 85%;
    max-height: 400px;
    padding-bottom: 15px;
}

.ImgWindow img {
    max-width: 60vw;
    max-height: 80vh;
}
.Username {
    color: #50b5ff;
    font-weight: bold;
    font-size: 3.1vh;
    align-items: start;
    padding-top: 10px;
}

.Title {
    color: darkcyan;
    font-weight: bold;
    font-size: 3.5vh;
    align-items: start;
    max-width: 700px;
    overflow-wrap: break-word;
}

.time {
    align-items: start;
    color: lightblue;
    font-size: 2vh;
    font-weight: normal;
}

.tags {
    align-items: start;
    color: lightblue;
    font-size: 2.4vh;
    font-weight: normal;
    padding-top: 8px;
}

.Event span {
    padding-left: 20px;
}
.profileChange {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    text-align: center;
}
.profileChange button{
    width: 100%;
    max-width: 380px;
    background-color: #50b5ff;
    color: white;
    height: 5vh;
    border: hidden;
    box-shadow: 0 1px 8px black;
    border-radius: 5px;
    margin-top: 5px;
}
.profileChange input {
    background-color: #182039;
    border: #1e2745 solid 1px;
    height: 35px;
    color: white;
    width: 50%;
    min-width: 200px;
}