.Info {
    margin: 0 0 0 20px;
    grid-area: info;
    background-color: #1e2745;
    border-radius: 10px;
    box-shadow: 0 0 10px #29324f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.InfoElem {
    display: flex;
}

.InfoColor {
    margin: 7px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
}


@media (max-width: 480px) {

}