.Date {
    margin: 0;
}

.Events {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
}
.Events div{
    background-color: #10394f;
    border: solid white 2px;
}
.Events div:nth-child(odd){
    background-color: #61dafb;
    border: solid white 2px;
}
.Event {
    border: solid white 2px;
    text-align: center;
    display: flex;
    margin: 10px auto 0px auto;
    padding: 0 10px ;
    word-wrap: break-word;
    align-items: center;
    width: 70vw;
    flex-direction: column;
    border-radius: 15px;
    max-width: 70vw;
    color: #8c91b6;
}
.Title span{
    color: #E0CA3C;
}
.text{
    width: 65vw;
}

.Event span{
    padding-left: 30px;
    margin-right: auto;
}