.Date {
    margin: 0;
}

.Events {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
}
.Events div{
    background-color: #10394f;
}

.Event {
    display: flex;
    margin: 0px auto 0px auto;
    padding: 0 10px ;
    align-items: center;
    width: 70vw;
    border-radius: 15px;
    max-width: 70vw;
    color: #8c91b6;
    background-color: #1e2745;
    border-top: 1px #252e4b solid;
    flex-direction: column;
}
.Title span{
    color: #50b5ff;
}
.text{
    width: 65vw;
}
.time{

}

.Event span{
    padding-left: 30px;
}