.Event {
    margin: 0px auto 0px auto;
    padding: 2px 3vw ;
    width: 70vw;
    border-radius: 0px;
    max-width: 70vw;
    color: #8c91b6;
    background-color: #1e2745;
    border-top: 1px #252e4b solid;
}
.text{
    width: 65vw;
    padding-top: 3vh
}
.Username{
    color: #50b5ff;
    font-weight: bold;
    font-size: 3.1vh;
    align-items: start;
    padding-top: 10px;
}
.Title{
    color: darkcyan;
    font-weight: bold;
    font-size: 3.5vh;
    align-items: start;
}
.time{
    align-items: start;
    color: lightblue;
    font-size: 2vh;
    font-weight: normal;
}
.tags{
    align-items: start;
    color: lightblue;
    font-size: 2.4vh;
    font-weight: normal;
    padding-top: 8px;
}

.Event span{
    padding-left: 20px;
}