.returnBack {
    color: brown;
    text-align: left;
}

.mail {
    display: flex;
    margin: 5px auto 0px auto;
    padding: 5px 5px ;
    word-wrap: break-word;
    width: 70vw;
    flex-direction: column;
    border-radius: 15px;
    max-width: 71vw;
    background-color: #1e2745;
    box-shadow: 0 1px 10px black;
    color: white;
}
.sender {
    margin-top: 15px;
    color: white;
    width: 65vw;
    padding: 5px 5px;
}
.topic {
    margin-top: 15px;
    color: white;
    width: 65vw;
    padding: 5px 5px;
}
.text {
    margin-top: 15px;
    color: white;
    width: 65vw;
    padding-left:7px;
    padding-bottom: 20px;
}

.file a{
    margin-top: 25px;
    color: #1456FA;
    width: 65vw;
    padding-left: 7px;
    padding-bottom: 20px;
}

.description {
    color: #8c91b6;
    padding: 20px;
}

.main {
}