.activePage {
    font-weight: bold;
}

.letter {
    text-align: center;
    display: flex;
    margin: 0px auto 0px auto;
    align-items: center;
    width: 70vw;
    flex-direction: column;
    border-radius: 25px;
    max-width: 71vw;
    min-height: 8vh;
    background-color: #1e2745;
    border-top: 1px #252e4b solid;
}

.letter:hover {
    border: solid lightslategray 1px;
    box-shadow: 0 0 10px #10394f;
}

.letterHead {
    display: flex;
    text-align: center;
    margin: 0px auto 0px auto;
    padding: 10px;
    width: 70vw;
    box-shadow: 0 0 10px #29324f;
    border-radius: 15px;
    align-items: center;
    border: solid black 3px;
    background-color: #1e2745;
}

.text {
    width: 65vw;
    padding: 0 5px;
    overflow: hidden;
    min-height: 20px;
    max-height: 44px;
    font-size: 16px;
}
.shadow{
    width: 80vw;
    margin: 0px auto 0px auto;
    padding-top: 15px;
    min-height: 100vh;
}

.text img {
    height: 20px;
    width: 20px;
    padding-left: 20px;
}

.paginatorMail {
    display: block;
    margin: 0px auto 0px auto;
    padding: 0px 0px 10px 0px;
}

.time {
    padding-left: 40px;
    color: #E0CA3C;
}
.buttonUpdateMailsPlace button {
    background-color: #721817;
    color: #0B6E4F;
    border: solid #721817 1px;
    border-radius: 2px;
    height: 80px;
    width: 10vw;
}
.buttonUpdateMailsPlace {
    position: absolute;
    right: 0px;
    padding-right: 20px;
    }