.CalendarMenu {
    padding: 10px;
    display: grid;
    color: #8c91b6;
    margin: 5px auto 0 auto;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: max-content auto;
    width: 800px;
    grid-template-areas:
            "calendar info"
            "calendar day";
}

.CalendarMenuLine {
    padding: 10px;
    display: grid;
    color: #8c91b6;
    margin: 5px auto 0 auto;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto max-content auto;
    width: 800px;
    grid-template-areas:
            "calendar info"
            "calendar ."
            "day day";
}

.Calendar {
    grid-area: calendar;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1e2745;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px #29324f;
}

.Day {
    grid-area: day;
    margin: 19px 0 0 20px;
    background-color: #1e2745;
    border-radius: 10px;
    box-shadow: 0 0 10px #29324f;
    opacity: 0;
    animation: appearance1 .5s forwards;
}

@keyframes appearance1 {
    0% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.DayLine {
    grid-area: day;
    margin-top: 30px;
    width: 100%;
    background-color: #1e2745;
    border-radius: 10px;
    box-shadow: 0 0 10px #29324f;
    padding: 5px 0;
    opacity: 0;
    animation: appearance2 .5s forwards;
}


@keyframes appearance2 {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.DayNone {
    grid-area: day;
    opacity: 0;
}

@media (max-width: 1200px) {
    .CalendarMenu {
        padding: 10px;
        display: grid;
        color: #8c91b6;
        margin: 5px auto 0 auto;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: max-content auto;
        grid-gap: 20px;
        width: 700px;
        grid-template-areas:
            "calendar info"
            "calendar day"
    }

    .CalendarMenuLine {
        padding: 10px;
        display: grid;
        color: #8c91b6;
        margin: 5px auto 0 auto;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto max-content auto;
        grid-gap: 20px;
        width: 700px;
        grid-template-areas:
            "calendar info"
            "calendar ."
            "day day";
    }


    .Day, .DayLine {
        margin: 0 auto;
        width: 100%;
        height: auto;
    }
}

@media (max-width: 900px) {
    .CalendarMenu {
        padding: 10px;
        display: grid;
        color: #8c91b6;
        margin: 5px auto 0px auto;
        grid-gap: 15px;
        grid-template-columns: 1fr;
        grid-template-rows: max-content auto;
        width: 550px;
        grid-template-areas:
            "calendar"
                "info"
                "day"
    }

    .CalendarMenuLine {
        padding: 10px;
        display: grid;
        color: #8c91b6;
        margin: 5px auto 0px auto;
        grid-template-columns: 1fr;
        grid-template-rows: auto max-content auto;
        grid-gap: 15px;
        width: 550px;
        grid-template-areas:
            "calendar"
                "info"
                "day";
    }


    .Day, .DayLine {
        margin: 0 auto;
        width: 100%;
        height: auto;
    }
}

@media (max-width: 700px) {
    .CalendarMenu {
        padding: 10px;
        display: grid;
        color: #8c91b6;
        margin: 5px auto 0 auto;
        grid-template-columns: 1fr;
        grid-template-rows: max-content auto;
        width: 74vw;
        grid-gap: 14px;
        grid-template-areas:
            "calendar"
                "info"
                "day"
    }

    .CalendarMenuLine {
        padding: 10px;
        display: grid;
        color: #8c91b6;
        margin: 5px auto 0 auto;
        grid-template-columns: 1fr;
        grid-template-rows: auto max-content auto;
        width: 74vw;
        grid-gap: 14px;
        grid-template-areas:
            "calendar"
                "info"
                "day";
    }


    .Day, .DayLine {
        margin: 0 auto;
        width: 100%;
        height: auto;
    }
}

@media (max-width: 340px) {
    .CalendarMenu {
        padding: 10px;
        display: grid;
        color: #8c91b6;
        margin: 5px auto 0 auto;
        grid-template-columns: 1fr;
        grid-template-rows: max-content auto;
        width: 90vw;
        grid-gap: 10px;
        grid-template-areas:
            "calendar"
                "info"
                "day"
    }

    .CalendarMenuLine {
        padding: 10px;
        display: grid;
        color: #8c91b6;
        margin: 5px auto 0 auto;
        grid-template-columns: 1fr;
        grid-template-rows: auto max-content auto;
        width: 90vw;
        grid-gap: 10px;
        grid-template-areas:
            "calendar"
                "info"
                "day";
    }


    .Day, .DayLine {
        margin: 0 auto;
        width: 100%;
        height: auto;
    }
}
