.CalendarMenu {
    padding: 10px;
    display: grid;
    color: #8c91b6;
    margin: 5px auto 0 auto;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: max-content auto;
    width: 748px;
    grid-template-areas:
            "calendar info"
            "calendar day";
}

.CalendarMenuLine {
    padding: 10px;
    display: grid;
    color: #8c91b6;
    margin: 5px auto 0 auto;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto max-content auto;
    width: 748px;
    grid-template-areas:
            "calendar info"
            "calendar ."
            "day day";
}

@keyframes gridChange {
    0% {
        grid-template-areas:
                "calendar info"
                "calendar day";
    }
    100% {
        grid-template-areas:
                "calendar info"
                "calendar ."
                "day day";
    }
}


.Calendar {
    grid-area: calendar;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1e2745;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px #29324f;
}

.Day {
    grid-area: day;
    margin: 19px 0 0 20px;
    background-color: #1e2745;
    border-radius: 10px;
    box-shadow: 0 0 10px #29324f;
    opacity: 0;
    animation: appeard 1s forwards;
}

@keyframes appeard {
    0% {
        opacity: 0;
    }
    60%{
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

.DayLine {
    grid-area: day;
    margin-top: 30px;
    width: 100%;
    background-color: #1e2745;
    border-radius: 10px;
    box-shadow: 0 0 10px #29324f;
    padding: 5px 0;
    opacity: 0;
    animation: appearance 1s forwards;
}


@keyframes appearance {
    0% {
        opacity: 0;
    }
    40%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.DayNone {
    grid-area: day;
    opacity: 0;
}

@media (max-width: 768px) {
    .CalendarMenu, .CalendarMenuLine {
        grid-template-columns: 1fr;
        grid-template-rows: auto 100px auto;
        grid-template-areas:
                "calendar"
                "info"
                "day";
        width: 525px;
        margin: 0 auto;
    }

    .Day {
        margin: 0 auto;
        width: 100%;
        height: auto;
    }
}

@media (max-width: 480px) {

}
