.Calendar {
    background-color: #182039;
    padding: 10px;
}

.Table{

    background-color: #1e2745;
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px 100px 100px;
}

.Elem{
    border: 1px solid grey;
    width: 100px;
    height: 70px;
    background-color: #1e2745;
    color: #8c91b6;
}