header {
    background-color: #1e2745;
    height: 32px;
    width: 100%;
    text-align: center;
    align-items: end;
    justify-content: end;
    min-width: 640px;
}
a {
    color: #8c91b6;
    text-decoration: none;
    margin: 10px;
}
.loginPlace {
    color: #8c91b6;
    text-decoration: none;
    position: absolute;
    right: 10vw;
}
.loginPlace button{
    width: 70px;
    background-color: #10394f;
    color: white;
}
.item a {
    color: #8c91b6;
    text-decoration: none;
}

.item a.active {
    color: black;
    box-shadow: 0 0 3px #103a;
    border-radius: 11px;
}