@media only screen and (min-width: 2001px) {
    .loginPlace{
        color: #8c91b6;
        padding-left: 32vw;
    }
    .loginPlace button{
        height: calc(2px + 3vh);
        width: 100px;
        background-color: #50b5ff;
        color: white;
        margin-right: 10px;
        border: none;
        border-radius: 3px;
        margin-bottom: 5px;
    }
    header {
        background-color: #1e2745;
        height: 6vh;
        display: flex;
        flex-direction: row;
        text-align: center;
        align-items: center;
        justify-content: flex-end;
        font-size: calc(5px + 2vh);
        max-height: 35px;
    }
    a {
        color: #8c91b6;
        text-decoration: none;
        margin: 10px;
        padding-bottom: 2px;
    }
    .item a {
        text-align: center;
        color: #8c91b6;
        text-decoration: none;
    }
}
@media only screen and (max-width: 2000px) {
    .loginPlace{
        color: #8c91b6;
        padding-left: 30vw;
    }
    .loginPlace button{
        height: calc(2px + 3vh);
        width: 90px;
        background-color: #50b5ff;
        color: white;
        margin-right: 10px;
        border: none;
        border-radius: 3px;
        margin-bottom: 5px;
    }
    header {
        background-color: #1e2745;
        height: 6vh;
        display: flex;
        flex-direction: row;
        text-align: center;
        align-items: center;
        justify-content: flex-end;
        font-size: calc(5px + 2vh);
        max-height: 35px;
    }
    a {
        color: #8c91b6;
        text-decoration: none;
        margin: 10px;
        padding-bottom: 2px;
    }
    .item a {
        text-align: center;
        color: #8c91b6;
        text-decoration: none;
    }
}
@media only screen and (max-width: 1500px) {
    .loginPlace{
        color: #8c91b6;
        padding-left: 28vw;
    }
    .loginPlace button{
        height: calc(2px + 3vh);
        width: 80px;
        background-color: #50b5ff;
        color: white;
        margin-right: 10px;
        border: none;
        border-radius: 3px;
        margin-bottom: 5px;
    }
    header {
        background-color: #1e2745;
        height: 6vh;
        display: flex;
        flex-direction: row;
        text-align: center;
        align-items: center;
        justify-content: flex-end;
        font-size: calc(5px + 2vh);
        max-height: 35px;
    }
    a {
        color: #8c91b6;
        text-decoration: none;
        margin: 10px;
        padding-bottom: 2px;
    }
    .item a {
        text-align: center;
        color: #8c91b6;
        text-decoration: none;
    }
}
@media only screen and (max-width: 1000px) {
    .loginPlace{
        color: #8c91b6;
        padding-left: 22vw;
    }
    .loginPlace button{
        height: calc(2px + 3vh);
        width: 70px;
        background-color: #50b5ff;
        color: white;
        margin-right: 10px;
        border: none;
        border-radius: 3px;
        margin-bottom: 5px;
    }
    header {
        background-color: #1e2745;
        height: 6vh;
        display: flex;
        flex-direction: row;
        text-align: center;
        align-items: center;
        justify-content: flex-end;
        font-size: calc(5px + 2vh);
        max-height: 35px;
    }
    a {
        color: #8c91b6;
        text-decoration: none;
        margin: 10px;
        padding-bottom: 2px;
    }
    .item a {
        text-align: center;
        color: #8c91b6;
        text-decoration: none;
    }
}
@media only screen and (max-width: 690px) {
    .loginPlace{
        color: #8c91b6;
        padding-left: 14vw;
        font-size: 12px;
    }
    header {
        background-color: #1e2745;
        height: 4vh;
        font-size: calc(7px + 1vh);
        max-height: 30px;
        padding-top: 5px;
        text-align: center;
    }
    a {
        color: #8c91b6;
        text-decoration: none;
        margin: 8px;
        padding-bottom: 3px;
    }
    .loginPlace button{
        height: calc(2px + 2vh);
        width: 50px;
        background-color: #50b5ff;
        color: white;
        font-size: 10px;
        margin-right: 10px;
        border: none;
        border-radius: 2px;
        margin-bottom: 3px;
    }
    .item a {
        text-align: center;
        color: #8c91b6;
        text-decoration: none;
    }
}
@media only screen and (max-width: 340px) {
    .loginPlace{
        color: #8c91b6;
        font-size: 11px;
        padding-left: 10px;
    }
    header {
        background-color: #1e2745;
        height: 4vh;
        font-size: calc(5px + 1vh);
        max-height: 30px;
        padding-top: 5px;
        width: 100vw;
    }
    a {
        color: #8c91b6;
        text-decoration: none;
        margin: 3px;
        padding-bottom: 3px;
    }
    .loginPlace button{
        height: calc(2px + 2vh);
        width: 40px;
        background-color: #50b5ff;
        color: white;
        font-size: 10px;
        margin-right: 4px;
        border: none;
        border-radius: 2px;
        margin-bottom: 3px;
    }
    .item a {
        text-align: center;
        color: #8c91b6;
        text-decoration: none;
    }
}

.item a.active {
    color: #50b5ff;
    box-shadow: 0 0 1px #103a;
    border-radius: 3px;
    background-color: #252e4b;
}