.modal {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
}

.modal.active {
    opacity: 1;
    pointer-events: all;
;}

.modal__content {
    padding: 20px;
    border-radius: 12px;
    background-color: #1e2745;
    width: 50vw;
    transform: scale(0.5);
    transition: 0.4s all;
}
.modal__content h2{
    color: #50b5ff;
}
.modal__content textarea{
    background-color: #1e2745;
    color: #8d91b6;
    border: 1px solid #252e4b;
}
.modal__content button{
    background-color: #50b5ff;
    border: #50b5ff solid 1px;
    color: white;
    height: 40px;
    border-radius: 5px;
}
.modal__content.active{
    transform: scale(1);
}