.Post {

}
.base button{
    background-color: #50b5ff;
    border: #50b5ff solid 1px;
    color: white;
    height: 40px;
    border-radius: 5px;
}
.base img{
    width: 40px;
    height: 40px;
    padding-left: 65%;
}
base span{

}
.Post textarea{
    width: 90%;
}
.text {
    width: 90%;
    height: 150px;
}
.title {
    width: 90%;
    height: 80px;
}
