.Post {
    grid-area: posts;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1e2745;
    padding: 10px;
    margin: 15px 0 0 0;
    border-radius: 10px;
    box-shadow: 0 0 10px #29324f;
    width: 100%;
}
