.Post {

}
.base button{
    background-color: #50b5ff;
    border: #50b5ff solid 1px;
    color: white;
    height: 40px;
    border-radius: 5px;
}
.delete img{
    width: 40px;
    height: 40px;
    padding-left: 65%;
}
.changeImg span{
    padding-right: 30px;
    color: #8c91b6;
}
.postImg img{
    width: 40%;
    height: auto;
}
.Post textarea{
    width: 90%;
}
.text {
    width: 90%;
    height: 150px;
}
.title {
    width: 90%;
    height: 80px;
}
