.App {
  background-color: #182039;
}
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track{
  background: #252e4b;
}
::-webkit-scrollbar-thumb{
  background: dimgray;
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover{
  background: #7191b6;
  border-radius: 6px;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
  font-size: calc(10px + 2vmin);
  color: #61dafb;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
